<div class="new-discussion-container text-center">
	<h1>Create a Discussion</h1>
	<div>
		<%= simple_form_for @discussion do |f| %>
			<%= f.input :subject, label: 'Give your discussion a title' %>
			<%= f.input :content, label: 'What do you want to say?' %>
			<%= f.button :submit, class: 'btn-create' %>
			<span class="glyphicon glyphicon-check"></span>
		<% end %>
	</div>
</div>