<div class="container text-center">
	<h1>All Users</h1>
	<div class="list-group col-xs-4 col-xs-offset-4">
		<% @users.each do |user| %>
			<div class="list-group-item">
				<img src="https://scontent.xx.fbcdn.net/hphotos-xaf1/v/t1.0-0/p206x206/1975089_10152591932351356_7418500934588913605_n.jpg?oh=4174715575baee63bb2c10dc6911910a&oe=57BF6CE2" class="img-circle img-sm">
				<%= link_to user.full_name, user %>
				<p>Join date: <%= user.created_at %></p>
			</div>
		<% end %>
	</div>
</div>