<h1>User: <%= @user.full_name %></h1>
<div class="container text-center">

	<img src="https://scontent.xx.fbcdn.net/hphotos-xaf1/v/t1.0-0/p206x206/1975089_10152591932351356_7418500934588913605_n.jpg?oh=4174715575baee63bb2c10dc6911910a&oe=57BF6CE2" class="img-circle" >
	<h4><%= @user.full_name %></h4> 
	<p><%= @user.email %></p>
	<p><%= @user.created_at %></p>
	<hr>
	<h4>About Me</h4>
</div>