<div class="container">
	<div class="jumbotron">
		<div class="container text-center">
			<h1>project_forum</h1>
		</div>
	</div>

	<%= render 'users/user_info_card' %>

	<div class="container text-center">
		<h1>Recent Topics</h1>
		<ul class="media-list">
			<% @posts.each do |post| %>
			<li class="media">
				<%= render 'post', post: post %>
			</li>
				<%= render 'shared/divider' %>
			<% end %>
		</ul>
	</div>
</div>