// Place all the styles related to the discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
	margin-top: 75px;
	h1 {
		font-size: 66px;
	}
}

.main {
	margin-top: 75px;
}

.user-card {
	height: 200px;
	text-align: center;
	p {
		font-size: 12px;
	}
}

.discussions-list {
	margin-left: 50px;
	text-align: center;
}

.discussion-post-form {
	margin: auto;
	width: 500px;

	textarea {
		resize: vertical;
	}

	h4 {
		font-weight: 300;
		color: grey;
	}

}

.discussion-actions {
	border-style: 1px solid;
	a {
		padding: 0 2em;
	}
}

.discussion-container {
	background-color: #d9edf7;
	padding: 2em;
}

