@mixin btn {
    padding: 5px 10px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover {
    	background-color: $brand-primary;
    	color: $grey;
    }
}

@mixin btn-primary {
	@include btn;
	color: $brand-primary;
}

@mixin btn-secondary {
	//TODO
}

@mixin app-xxs {
	@media (max-width: 320px) {
		@content;
	}
}

@mixin app-xs {
	@media (max-width: 425px) {
		@content;
	}
}

@mixin app-md {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin app-lg {
	@media (max-width: 1024px) {
		@content;
	}
}