.navbar {
	background-color: $grey;
	margin-bottom: 0;
}

.glyphicon-home {
	font-size: 20px;
}

.navbar-default .navbar-nav > li {
	
	a {
		color: white;
	}

	a:hover {
	    color: $brand-primary;
	}
}

.forum-actions {
	@extend .navbar-left;
	@extend .nav;
	@extend .navbar-nav;
}

.account-actions {
	@extend .navbar-right;
	@extend .nav;
	@extend .navbar-nav;
}

.WIP {
	text-decoration: line-through;
	font-style: italic;
}