// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-container {
	//background-color: #DADFF8;
	border-left: solid 2px #FF7C44;
	background-color: #efefef;
	padding: 2em;
	width: 60%;
	margin: auto;
}

.post-reply-form {
	margin: auto;
	with: 600px;
	h2 {
		margin-top: 10px;
	}
}

.reply-link {
	margin: 0 10px 0 0;
}