// Colors
$grey: #C8C8C8;
$dark-grey: #969696;
$white: #FFFFFF;
$brand-primary: #FF7C44;
$brand-primary-light: #FFA37C;

// Margins
$general-content-margin: 20px;
$l-content-margin: 60px;
$xl-content-margin: 100px;